<div class="h-100vh w-100">
    <div class="h-25 w-100">
        <div class="h-100 w-100 d-flex align-items-center justify-content-center">
            <p class="text-size-400  text-dark">Our travel experience</p>
        </div>
    </div>
    <div class="h-60 w-100 d-flex justify-content-center">
        <div class="h-100 w-60 d-flex justify-content-around">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="../../static/img/sa pa.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Sa Pa</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content. Some quick example text to build on the card title and make up the bulk of the
                        card's content. Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-secondary">Go Explore</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="../../static/img/hoi an.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hoi An</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content. Some quick example text to build on the card title and make up the bulk of the
                        card's content. Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-secondary">Go Explore</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="../../static/img/phu quoc.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Phu Quoc</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content. Some quick example text to build on the card title and make up the bulk of the
                        card's content. Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-secondary">Go Explore</a>
                </div>
            </div>
        </div>

    </div>
    <div class="h-15 w-100"></div>
</div>