<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thuê Xe</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="h-500px center">
        <form class="center" method="POST">
            <div class="d-inline-block">
                <div class = "margin-top-bot-10px">
                    <label class="texture">Model:</label><br>
                    <input class="border-input" name="name" size="30" placeholder="e.g. Honda Airblade"><br>
                </div>
                <div class = "margin-top-bot-10px">
                    <label class="texture">Daily fee (VNĐ):</label><br>
                    <input class="border-input" name="price" size="30" placeholder="e.g. 100000" ><br>
                </div>
                <div class = "margin-top-bot-10px">
                    <label class="texture">Image:</label><br>
                    <input class="border-input" name="image" size="30" placeholder="e.g. https://www.google.com" ><br>
                </div>
                <div class = "margin-top-bot-10px">
                    <label class="texture">Year:</label><br>
                    <input class="border-input" name="year" size="30" placeholder="e.g. 2015" >
                </div>
                <div class = "margin-top-bot-20px">
                    <input class="button"type="submit" value="Submit">
                </div>    
            </div>
        </form>
    </div>
</body>
</html>